* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: inherit;
	background-color: inherit;
}
body {
	/*/ background-image: url(https://www.ouruniverseforkids.com/wp-content/uploads/2018/09/shooting-768x323.png); /**/
	background-repeat: no-repeat;
	background-size: 100%;
}
#send {
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
  border-top: thin solid black;
  --shade: 230;
  background: rgb(var(--shade), var(--shade), var(--shade));
}
.dark #send {
  --shade: 60;
  border-top-color: white;
}
#stats {
  position: absolute;
  right: 0;
  top: 0
}
#send input {
	border: none;
  outline: none;
	padding: 10px;
	width: 90%;
	margin: 0px;
	color: inherit;
	background: inherit;
}
#send button {
	width: 10%;
	/*/ background: rgb(130, 224, 255); /**/
	border: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	bottom: 0px;
	height: 100%;
	right: 0px;
}
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#messages li {
	padding: 5px 10px;
	background: rgba(0, 0, 0, 0);
	color: inherit;
}
/*
#messages li:nth-child(odd) {
	background: rgba(238, 238, 238, 10);
}*/
#messages {
	margin-bottom: 40px 
}

dialog {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
li, button, input, body {
	font-family: /*/32px Helvetica, Arial/**/monospace;
}
li.join {
  color: green;
}
li.leave {
  color: red;
}

spoiler, sp {
  color: gray;
  background-color: gray;
  transition: background-color 0.2s;
}
spoiler:hover, sp:hover {
  cursor: none;
  color: gray;
  background-color: inherit;
}
.dark {
  background: rgba(30, 30, 30, 1);
  color: white;
}
