html
  head
    title Priority - Google Drive
  body
    h1 Evasion
    p Drag this link to your bookmarks bar: #[a(href="javascript:location.href=`https://nmn.bad.mn/evade?url=${location.href}`") Evade]
    p Your assigned Reddit mirror is #{redditMirror}