.content table {
	margin: 1em 0;
  /* following 4 rules are needed for scrolling */
	overflow: auto;
  /* for browsers that don't support overflow-y */
  overflow-y: hidden;
  overflow-x: auto;
  display: block;
  width: 100% !important;
}
.content table caption {
  display: block;
  text-align: left;
}
.content table.wikitable {
  border: 1px solid gray;
}
.content table.wikitable > tr > th,
.content table.wikitable > tr > th,
.content table.wikitable > * > tr > th,
.content table.wikitable > * > tr > td {
  border: 1px solid gray;
  padding: .2em;
}