.select > * {
     border-radius: 0;
     border: thin solid black;
     border-right: none;
     background: none;
     transition: background 0.2s;
     margin: 0;
}
 .select > :first-child {
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
}
 .select > :last-child {
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     border-right: thin solid black;
}
 .select > .selected {
     background-color: cornflowerblue;
}
 
